@{
  Layout = "_Layout";
}

@model Blockbuster.Models.Customer
@using System.Security.Claims

<h2>Blockbuster Account Authentication</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  <p>Welcome to the World of Blockbuster</p>
  <p>@Html.ActionLink("Browse Video Catalog", "Index", "Videos")</p>
  <p>@Html.ActionLink("View your videos", "Details")</p>
  @using (Html.BeginForm("Logoff", "Customers"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log-in", "Login")</p>
}